/* No horizontal scroll */
body {
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

ol, ul {
	list-style: none;
}

.footer-avatar{
	text-align: center;
}

.footer-contact{
	text-align: center;
}
